* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: url(/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1 {
    width: 40%;
}

.card1 > h1 {
    color: #fff;
    font-weight: 700;
}

.card1 > p {
    color: #fff;
    font-size: 12px;
}

.card2 {
    width: 50%;
}